extends ../../templates/errors/default

block content

  body.error404

    div.content_error

      div.content_text_error
        h3 404

        h2 Sorry, this page doesn't exist.

        a(href='/')
          button Come back