extends ../templates/index/default

block content

  
  section.dintairBox
    div.afterbox
      div.block
        div.info_box
          
          h3 ¿Qué hacemos?
          h1 Dintair es una plataforma B2B enfocada en alimentos y bebidas. Aquí podrás encontrar contactos de importantes markets, proveedores y productores.

          a(href="/Dintair/es/Signin")
            button.signin Iniciar sesión
        

      div.report
        div.foods(style='background-image: url("/images/index/element5-digital-acrBf9BlfvE-unsplash_two.jpg");')
          h2 ¿Interesado en conocer la realidad peruana y las tendencias post COVID-19?

          
          a(target="_blank", href="https://res.cloudinary.com/dintair/image/upload/v1648560839/Dintair/Covid-19_y_su_impacto_en_el_mercado_peruano.pdf")
            button.btn_report Leer el reporte comercial

      div.two_boxes
        

      
      







  footer
    div.whole_footer
      div.footer_one
        a(href="/Dintair/es/Signin", class="a_btn_footer")
          div.a_box_footer
            p Iniciar sesión
            
        a(href="/Dintair/es/Signup", class="a_btn_footer")
          div.a_box_footer
            p Registrarse
        
        a(href="/Dintair/contact", class="a_btn_footer")
          div.a_box_footer
            p Contacto


      div.footer_two
        a(href="/Dintair/aeropost", target="_blank", class="a_btn_footer")
          div.a_box_footer
            p Productos restringidos
        a(href="/Dintair/privacyPolice", target="_blank", class="a_btn_footer")
          div.a_box_footer
            p Políticas de privacidad
        a(href="/Dintair/termsOfUse", target="_blank", class="a_btn_footer")
          div.a_box_footer
            p Condiciones de uso
        a()
          div.a_box_footer
            h2 © 2022 Dintair



  
  //script(src='/javascripts/searchengine/searchprincipal.js')
  script(src='/javascripts/index/bubbles/bubbles.js')
  //script(src='/javascripts/validations/placeholderChange.js')





     
