extends ../../login/nav

block content
  
  section.out
    div.view_afterdelete
      div.white

        div.flexbox
          div.img_logo
            img(src='/images/dintair/dintair_iso.png')
          div.message
            h2 Lamentamos tu decisión y te deseamos lo mejor en tu camino empresarial, social y personal.

          div.btn_out
            a(href='/Dintair')
              button() Salir de Dintair