extends ../../templates/index/default

block content
  body
    section.privacyPolice

      div.start_privacy

        h3.title Condiciones de uso

        h3.welcome Bienvenido a Dintair

        div.first_content

          h4 Dintair es una plataforma empresarial especial para Alimentos y Bebidas que genera redes de negocios comerciales. Nuestra pasión por el comercio internacional, la tecnología y por diversificar el acceso comercial nos llevó a desarrollar este servicio.

          h4.space_terms Nuestros servicios han sido diseñados para promover el comercio entre empresarios dedicados a la producción, distribución y provición de Alimentos y Bebidas con el fin de lograr un mundo con más oportunidades de negocio y expansión comercial.

        div.allFormat
          h3.title_Parts 1. Introducción

          div.subPart
            h4.title_subParts 1.1 Nuestro contrato

            h5 En la sección “Registrarse” encontrará campos que deberá rellenar con sus datos verídicos según lo especifique cada uno para continuar con el proceso de registro. Es necesario que llene todos para continuar. Luego de dar clic en “Crear mi cuenta”, se le enviará un correo de confirmación, el cual deberá confirmar dando clic en el botón “Ingresar a mi cuenta”. Después de dar clic en "Crear mi cuenta" y comenzar a utilizar nuestros servicios, está aceptando suscribir un contrato vinculante con Dintair desde el punto de vista jurídico. De no estar de acuerdo con este contrato, por favor, no de clic en “Crear mi cuenta” y no intente acceder de otra manera a nuestros servicios.

            div.subPart_specific

              h4.titles_camp Servicios que ofrecemos

              h5 El presente contrato aplica para todos los tipos de Servicios que ofrecemos y ofreceremos. Después de haber confirmado su registro, la empresa será reconocida como "Familiar de Dintair", y usted como "Representante". Este contrato aplica para todo Familiar y sus respectivos Representantes. 

              


          div.subPart
            h4.title_subParts 1.2 Familiares de Dintair

            h5 Al registrar la empresa o negocio será reconocida como Familiar de Dintair. Podrá ponerse en contacto con nosotros y nos referirémos a la empresa como Familiar. Si no se ha registrado y está navegando por esta página será reconocido por nosotros como un internauta.

          div.subPart
            h4.title_subParts 1.3 Modificaciones

            h5 Nosotros podemos modificar tanto este contrato como nuestra Política de privacidad cada cierto tiempo. Todo cambio que hagamos será puesto en la parte superior de este contrato así como también, alguna modificación que hagamos en nuestra Política de privacidad para que pueda revisar y leer las modificaciones establecidas. Si no está de acuerdo con algún cambio futuro que hagamos, puede “Cerrar su cuenta”. Para más información acerca del cierre de un cuenta vea nuestra Política de privacidad en la sección: ¿Cómo debe usar usted nuestros Servicios? punto nro. 5, El cierre de su cuenta. Su uso continuo de nuestros Servicios nos dará a entender que está de acuerdo con las modificaciones realizadas.

        div.allFormat
          h3.title_Parts 2. Privacidad

          h5.space_text Nuestra 
            a(href='/Dintair/privacyPolice', target='_blank') Política de privacidad 
            |describe cómo nosotros conservamos y usamos los datos que usted (Representante) nos proporciona. Estas Políticas de privacidad comprenden que usted, al hacer uso de nuestros Servicios, consiente a la recopilación y uso de sus datos, su transferencia y manipulación para un posterior análisis con el fin de apoyarlos a dominar cada vez más su mercado meta, mejorar nuestros Servicios, brindarle la mejor experiencia de navegación, datos precisos y confiables, y una mejor interacción empresarial con sus iguales (Representante y Familiares).


        div.allFormat
          h3.title_Parts 3. Sus obligaciones

          div.subPart
            h4.title_subParts 3.1 Requisitos para el uso de nuestros Servicios

            div.subPart_specific

              h4.titles_camp Registro de datos

              h5 Los datos que publicará de la empresa deben ser legítimos y verdaderos, así como también deben ser puntuales. Los datos deben contener lo que las opciones a rellenar en cada formulario pidan, ya que lo que usted publique acerca de la empresa o negocio será visto por los demás Representantes de Dintair. Llene los espacios que usted crea conveniente y correspondiente sin agregar información extra. Por favor, respete lo que pidan las opciones. Después de haber editado sus datos, estos podrán ser vistos por los demás usuarios dependiendo de en qué sección se encuentre cada uno. La creación de una cuenta con datos falsos es una falta muy grave y constituye una infracción a este contrato y podría llevar al "cierre de su cuenta" por parte de nosotros.

          div.subPart
            h4.title_subParts 3.2 Su cuenta

            h5 El titular de la cuenta es el Representante del negocio o mpresa (Familiar), es decir, usted es el Representante de su Familia. Al registrarse, usted acepta: (1) registrar solo datos confiables, actuales, verdaderos y legítimos acerca de usted y el negocio o empresa; (2) escoger una contraseña poco intuible y segura; (3) no compartir información que usted crea importante por medio de mensajes internos con algún otro Representante desconocido que le pueda generar una falta de confianza hacia la página y hacia algún el tercero; (4) acepta mantener su cuenta actualizada con datos verídicos y actuales. Usted es responsable de todo lo que suceda en su cuenta, desde el momento de su registro, salvo que decida cerrarla o notificarnos acerca de algún desperfecto o uso indebido de la misma.


          div.subPart
            h4.title_subParts 3.3 Productos y Servicios

            h5 Los productos y servicios que publique deben ir acorde con su giro de negocio y con la finalidad de que sirvan y ayuden a informar a los demás Representantes acerca de su negocio o empresa. Cabe recalcar que al igual con los puntos vistos anteriormente en esta sección 3, los datos deben ser confiables, actuales, verdaderos y legítimos para una mejor interacción y unión empresarial. No debe publicar productos con imágenes ilícitas o fuera de contexto que perjudiquen a otros Familiares, a la reputación de cada Representante o a Dintair.

          div.subPart
            h4.title_subParts 3.4 Mensajes

            h5 Los mensajes que envía deben ser puntuales y no deben tener intenciones de ofender a la Familia de algún Representante con el que está interactuando, así mismo, las imágenes que envía deben ser de carácter informativo y no ser imágenes que tengan que ver con obscenidades o que intenten ofender a otros Representantes, Familiares o a Dintair.

          div.subPart
            h4.title_subParts 3.5 Publicaciones a contactos

            h5 Dentro de Dintair existen dos tipos de publicaciones: "Publicaciones a contactos" y "Publicaciones dirigidas". Las Publicaciones a contactos están dirigidas exclusivamente a aquellos contactos que lo han agregado, que usted ha agregado y para usted mismo. Cabe mencionar que aquel contenido que rellene, tanto texto como imágenes, debe ser contenido verídico, no obsceno y puntual.

          div.subPart
            h4.title_subParts 3.6 Publicaciones dirigidas

            h5 Las Publicaciones dirigidas tienen como finalidad informar y hacer llegar de manera más fácil, rápida y puntual el propósito comercial de un negocio o empresa. Es necesario tener un producto registrado para utilizar este tipo de publicación. Este constan de tres partes: 1) Selección del producto o servicio que desea vender; 2) Recomendaciones de posibles compradores y 3) Creación de la Publicación dirigida.

            div.subPart_specific
              h5 1. Selección del producto o servicio que desea vender: Cada publicación está basada en un producto o servicio, con el cual podrá continuar con el proceso de creación.

              h5 2. Recomendaciones de posibles compradores: Las recomendaciones están basadas en el "Mercado meta" seleccionado al momento de crear su producto o servicio. En base a este rubro, se mostrarán los empresarios a fines los cuales estén más propensos en adquirir su producto o servicio.

              h5 3. Creación de la Publicación dirigida: Esta publicación consta de tres partes: 1. Redes sociales; 2. contenido textual y 3. Contenido visual. Para crear una publicación debe llenar las tres partes solicitadas.


          

        div.allFormat
          h3.title_Parts 4. Sus derechos y limitaciones

          div.subPart
            h4.title_subParts 4.1 Su licencia respecto a Dintair

            h5 Solo usted es el responsable del contenido que registre, los datos y la información que proporcione en los Servicios que ofrecemos, y otorga a Dintair la siguiente licencia no exclusiva:

            h5 nos otorga un derecho mundial, transferible y que está sujeto a sublicencias para poder usar, reproducir, adaptar, modificar, publicar, retirar, distribuir, enviar, copiar, retener, procesar, generar publicaciones de marketing externas de Dintair, generar publicaciones internas y generar análisis con los datos registrados, sin ningún consentimiento adicional, notificación o compensación para ti o terceros. Estos derechos se limitan de los siguientes modos.

            div.subPart_specific

              h5 1. Para un contenido específico que haya registrado en Dintair. Puede finalizar con esta licencia borrando dicho contenido o cerrando su cuenta, a excepción del tiempo que tarde en retirarlo de la copia de seguridad y/o de otro sistema.

              h5 2. Nosotros no incluiremos su contenido para promocionar productos o servicios de terceros sin su consentimiento personal. Sin embargo, contamos con derecho a publicar anuncios futuros cerca de su contenido e información sin algún tipo de indemnización para usted o algún tercero.

              h5 3. Nosotros necesitaremos de su consentimiento si queremos que una persona o empresa cuente con el derecho a publicar su contenido fuera de los Servicios puestos a su disposición. No obstante, tenemos derecho a compartir el contenido que genera cada Representante con nuestros proveedores o socios para analizar dicho contenido con el fin de mejorar nuestro Servicio, ofrecer una plataforma más dinámica e información confiable, actual, verdadera y legítima.

              h5 4. Podemos editar y realizar cambios de formato en su contenido como por ejemplo: eliminar metadatos. Sin embargo, no se verá alterado el significado final.

            h5 Acuerda con Dintair que podremos utilizar, procesar, almacenar y acceder a cualquier tipo de contenido, información y dato personal que usted facilite en base a nuestra 
              a(href='/Dintair/privacyPolice', target='_blank') Política de privacidad
              | (incluyendo la configuración de dicho contenido, información y dato).


          div.subPart
            h4.title_subParts 4.2 La disponibilidad de nuestros Servicios

            h5 Podremos mejorar, cambiar, implementar o retirar algún Servicio existente o futuro. Nosotros no podemos garantizar que almacenaremos o que continuaremos mostrando el contenido, información o datos que haya publicado.

            h5 Dintair no es un servicio de almacenamiento. Usted, al registrarse, acepta que no tenemos la obligación de almacenar, conservar o proporcionarle una copia de cualquier dato, información o contenido que haya publicado en la plataforma, salvo en la medida en que por ley se exija.


          div.subPart
            h4.title_subParts 4.3 Contenidos

            h5 Al estar utilizando nuestros Servicios podría encontrar datos, información o contenido incompletos, inexactos, atrasados, ilegales, engañosos o dañinos. En Dintair revisamos lo que nuestros Familiares publican o registran, pero no garantizamos que los datos estén libres en su totalidad de los casos mencionados. Debido a la concurrencia de datos no siempre podremos evitar que los usos indebidos anterior mencionados sean publicados en nuestra plataforma. Acepta que no nos hacemos responsables por algún dato no revisado que contenga alguna de las malas practicas anterior mencionadas. Si encuentra algún dato, información o contenido que sea ofensivo a su integridad moral, profesional, o a la empresa, y que a su parecer no corresponde que deba continuar mostrandose en Dintair, puede ponerse en contacto con nosotros enviandonos un mensaje interno o enviandonos un email a la siguiente dirección de correo electrónico: team@dintair.com.


          div.subPart
            h4.title_subParts 4.4 Limitaciones

            h5 Dintair tiene todos los derechos reservados para limitar la disponibilidad de Servicios hacia sus Familiares y Representantes. Dintair se reserva el derecho de restringir, suspender o cerrar su cuenta si considera que usted pudo haber incumplido este contrato, alguna ley o que está utilizando indebidamente nuestros Servicios. Para más información consulte nuestra 
              a(href='/Dintair/privacyPolice', target='_blank') Política de privacidad.


          div.subPart
            h4.title_subParts 4.5 Propiedad intelectual

            h5 Dintair reserva todos los derechos de propiedad intelectual en los Servicios o recursos utilizados. El hecho de que esté utilizando nuestros Servicios no le confiere la propiedad de los mismos ni del contenido o de la información que se muestra a través de los mismos. Las imágenes, logotipos e isotipos son marcas registradas por sus respectivos autores. 


        div.allFormat
          h3.title_Parts 5. Limitaciones de responsabilidad y exclusiones

          div.subPart
            h4.title_subParts 5.1 Exclusión de responsabilidad

            h5 En la medida en que la ley lo establezca y permita, Dintair No se hará responsable de ninguna clase de daño directo, inherente, especial, consecuente o punitivo, o por la pérdida de datos, de alguna oportunidad, de reputación, de beneficios o ingresos relacionados con los servicios.

            h5 Esta limitación de responsabilidad forma parte del acuerdo entre usted y Dintair, y será aplicado ante alguna reclamación de responsabilidad futura.

            h5 Existen algunas leyes que no permiten determinadas exclusiones de responsabilidad, por lo que algunas o todas estas exclusiones podrían no ser aplicadas en su caso.


          div.subPart
            h4.title_subParts 5.2 Exclusión de garantía

            h5 En la medida en que la ley lo establezca y permita, Dintair y quienes laboran en Dintair para llevar a cabo los Servicios ofrecidos:
              
              div.subPart_specific

                h5 A. No se hacen responsables de ninguna garantía implícita o de representación.

                h5 B. No garantizan que los Servicios podrán ser utilizados sin interrupciones o sin errores en el funcionamiento.

                h5 C. Proporcionarán los Servicios (incluyendo los datos, contenido e información) tal y como esté disponible.

              h5 Existen algunas leyes que no permiten determinadas exclusiones de responsabilidad, por lo que algunas o todas estas exclusiones podrían no ser aplicadas en su caso.


        div.allFormat
          h3.title_Parts 6. Lo que debe y no debe hacer en Dintair

          div.subPart
            h4.title_subParts 6.1 Lo que debe hacer

            h4.titles_camp Usted acepta que:

              h5 a. Cumplirá con todo lo estipulado en este contrato incluyendo las leyes, derechos y limitaciones, propiedad intelectual, la privacidad, y con todas las partes incluidas en este contrato.

              h5 b. Registrará solamente datos confiables, actuales, verdaderos y legítimos de su empresa y del encargado de su empresa.

              h5 c. Proporcionará datos, información y contenido exacto de su empresa y del Embajador de su empresa.

              h5 d. Mantendrá sus datos, información y contenido en constante actualización.

              h5 e. Utilizará los Servicios actuales y futuros de manera profesional.


          div.subPart
            h4.title_subParts 6.2 Lo que no debe hacer

            h4.titles_camp Usted acepta que no:

              h5 a. Creará una identidad falsa, inventada o antigua en Dintair, crear la cuenta de una empresa para alguien que no guarda relación con la suya, ni usar o intentar usar la cuenta de otra persona.

              h5 b. Apoyará, desarrollará, utilizará programas, scripts, métodos de scraping, robots u otro medio de proceso incluidos crawlers, plugins de navegación y algún complemento, para plagiar nuestra información, Servicios o copiar perfiles u otros datos de nuestros Servicios o enteramente nuestros.

              h5 c. Tratará de evadir, eludir o burlar nuestros sistemas de seguridad para conseguir extraer datos, contenido, información y acceso.

              h5 d. Copiará, utilizará, divulgará o distribuirá cualquier información obtenida de los Servicios, ya sea de forma directa o indirecta (terceros), sin el consentimiento de Dintair.

              h5 e. Divulgará o revelará información que no tiene derecho a compartir.

              h5 f. Va a infringir los derechos de propiedad intelectual de los demás Familiares o Representantes, de terceros o propios de Dintair, como los derechos de autor, patentes, marcas, secretos comerciales u otros derechos de propiedad.

              h5 g. Publicará enlaces o cualquier cosa que contenga virus de programas, gusanos o cualquier otro código dañino.

              h5 h. Utilizará ninguna técnica para descompilar, desarmar, aplicar ingeniería inversa, para extraer datos, o intentar extraer patrones o alguna práctica no permitida en este contrato.

              h5 i. Va a Falsificar permisos exclusivos otorgados por Dintair.

              h5 j. Utilizará algún tipo de bot u algún otro método automatizados para acceder a nuestros Servicios para añadir, extraer, descargar o eliminar algún dato o para redirigir un mensaje.

              h5 k. Alquilará, prestará, comercializará, venderá o revenderá u obtendrá cualquier otro tipo de beneficio de/con nuestros Servicios.

              h5 l. Llevará a cabo prácticas de “framing” o “mirroring”, o simular de otra manera la apariencia de nuestros Servicios.

              h5 m. Controlará nuestro rendimiento, disponibilidad o el funcionamiento de nuestros Servicios para fines competitivos.

              h5 n. Infringirá estas Condiciones de uso o nuestra 
                a(href='/Dintair/privacyPolice', target='_blank') Política de privacidad.

        div.allFormat
          h3.title_Parts 8. Rescindir el Contrato

          h5.space_text Tanto ambas partes (Usted como Dintair) podemos rescindir este Contrato en cualquier momento después de haberlo comunicado a la otra parte. Una vez rescindido el Contrato, perderá el derecho de acceder a su cuenta y de utilizar nuestros Servicios. Sin embargo, seguiremos teniendo derecho a:

          div.subPart
            

            h5 - Utilizar y divulgar sus contenidos.
            h5 - Todo lo estipulado en este contrato.


        div.allFormat
          h3.title_Parts 9. Productos Restringidos

          div.subPart
            h4.titles_subParts ¿Qué servicio ofrece?

            h5 La sección de Productos Restringidos es un servicio de filtrado de información de productos clasificados en: prohibidos, restringidos y sin restricciones.

            h4.titles_subParts ¿Para qué ha sido elaborado?

            h5 El servicio de Productos Restringidos ha sido elaborado para informar acerca de las restricciones de los productos que un cliente o una persona desee importar. Asimismo, este servicio fue elaborado para asesorar a los clientes de la empresa Aeropost, dedicada a e-commerce y courier, de origen norteamericano.

            h4.titles_subParts ¿Cómo ha sido elaborado?

            h5 El servicio de Productos Restringidos ha sido elaborado en base a publicaciones oficiales por los distintos ministerios del Perú. En la base de cada resultado se encontrará la frase "Para más información haga clic aquí" en el cual, después de dar clic, se mostrará la fuente de información que fue consultada para mostrar dicho resultado.

            h4.titles_subParts ¿Cómo utilizarlo?

            h5 Cuando un cliente o persona quiera comprar un producto del extranjero, podrá acceder a la sección "Productos Restringidos" y escribir el producto que quiere comprar para que se entere de la clasificación del mismo puesto en "¿Qué servicios ofrece?".

            h4.titles_subParts Posibles errores del sistema o información errónea

            h5 En caso que un cliente o persona haya pedido algo a través de la plataforma Aeropost confiando en la información que se muestra en el servicio de "Productos Restringidos" de Dintair, y este conlleve a una posible multa o impasse económico para la empresa Aeropost Network S.A.C., el responsable de Dintair, Fernando Madueño, no se hará cargo debido a que antes de colocar el resultado final, se consultó tanto con el equipo de Aeropost Perú como con el equipo de Dintair para asegurar la fiabilidad de los resultados expuestos en este servicio.

        div.allFormat
          h3.title_Parts 10. Información y consultas acerca de estas Condiciones de Uso

          h5.space_text Si tiene alguna consulta acerca estas Condiciones de uso, puede contactarnos dentro de la plataforma de Familiares, en el botón “Contactarnos”, o enviado un email a la siguiente dirección de correo electrónico: team@dintair.com.


      div.content_our_info
        h3 Av. El Derby 575

        h3 Santiago de Surco

        h3 Lima, Perú

        h3 © Dintair 2019, All rights reserved