extends ../../templates/index/default

block content
  body
    section.privacyPolice

      div.start_privacy

        h3.title Política de privacidad

        h3.welcome Bienvenido a Dintair

        div.first_content
          h4 Gracias por el interés en leer nuestra Política de privacidad.


        div.allFormat
          h3 Introducción

          h4 Dintair es una plataforma empresarial especial para Alimentos y Bebidas que genera redes de negocios comerciales. Nuestra pasión por el comercio internacional, la tecnología y por diversificar el acceso comercial nos llevó a desarrollar este servicio.

          h4 Nuestros servicios han sido diseñados para promover el comercio entre empresarios dedicados a la producción, distribución y provición de Alimentos y Bebidas con el fin de lograr un mundo con más oportunidades de negocio y expansión comercial.


        div.allFormat
          h3.title_principal ¿Cómo usamos nosotros la información?

          h4 Dintair ofrece un espacio personalizado en el cual, por medio de nuestros Servicios, los usuarios pueden publicar contenido, agregar productos, servicios, contactos, editar su perfil, agregar imágenes, enviar mensajes y realizar búsquedas dentro de Dintair. Utilizamos los datos de las actividades mencionadas anteriormente que son generadas por los propios usuarios para realizar investigaciones y publicaciones con el fin de cumplir de ofrecer un espacio personalizado e información de calidad.

          h4 Nos interesa que sepa cómo utilizaremos la información en Dintair y cómo esta permanecerá segura. A continuación, se detallarán las partes que componen esta Política de privacidad, por favor, debe leerlas.


        div.allFormat
          h3.title_Parts 1. ¿Qué datos recopilamos?

          h4 Se recopila distintos tipos de datos en función a la sección donde se encuentre dentro de la página.

          div.subPart
            h4.title_subParts 1.1 El registro de la empresa en Dintair

            h5 Los usuarios de Dintair son los Representantes de las empresas. Estas empresas son reconocidas por Dintair como “Familiares de Dintair”, y los Representantes son reconocidos como "Representantes".

            h5 Una vez dentro de la sección “Registrarse”, encontrará un formulario que deberá llenar para que se envíe un mensaje de confirmación al “Correo electrónico” que registró, el cual deberá confirmar dando clic en el botón “Ingresar a mi cuenta” para que la empresa sea reconocida como Familiar y usted como "Representante", y pueda acceder como usuario legítimo. Cabe recalcar que los datos que ingrese y envíe en el formulario deberán ser verídicos. De no ser verídicos, su cuenta podría estar en peligro del cierre definitivo.

            h5 Usted, al haber completado todos los campos de nuestros formularios de registro y al dar clic en el botón “Crear mi cuenta”, "Guardar y continuar" y "Guardar e ingresar", está aceptando y reconociendo a Dintair que todos los datos que registre o elimine de la empresa registrada en nuestra plataforma ahora en adelante como: imágenes, productos, servicios, Representantes, mensajes, contactos, contactos que agregue, y en los servicios que posteriormente ofreceremos, nos pertenecerán y serán utilizados para generar Análisis internos a Dintair.

            h5 Entiendase por Análisis como la partición de información para conocer a detalle una materia. Nuestros análisis serán puramente internos con los cuales se tomarán decisiones de implementación, usabilidad, reproducción, adaptación, modificación, publicación, eliminación, distribución, muestra, copia, retención, procesamiento y generación de publicaciones internas.



          div.subPart
            h4.title_subParts 1.2 Los datos que usted nos proporciona de la empresa

            h5 Los datos que publicará de la empresa deben ser legítimos, así como también puntuales, es decir, los datos deben contener lo que las opciones a rellenar pidan, ya que lo que publique acerca de su empresa será visto por los demás Representantes de Dintair.

            h5 Algunos datos ingresados en el formulario al momento de registrarse serán puestos automáticamente en su tarjeta de presentación, por ejemplo, los datos como: “Nombre completo”, “Nombre de la empresa o marca personal”, “Correo electrónico”, “Rubro al que se dedica” y “País”.

            div.subPart_specific

              h4.titles_camp Los datos de la empresa que verán los demás Representantes.

              h5 Sea cuidadoso con los datos que publique de la empresa. No ingrese más datos de lo estrictamente necesario y cumpla solo con lo que las opciones a rellenar pidan.

              h4.titles_camp Los datos que verá de la propia empresa

              h5 Según la sección en la que se encuentre, de haber cumplido con agregar datos puntuales en los formularios de registro, podrá visualizar los mismos puestos en orden, así como también, los datos de los demás Representantes y Familiares.


          div.subPart
            h4.title_subParts 1.3 Los datos que edite de la empresa

            h5 Una vez que sea Familiar y Representante de la empresa en Dintair, podrá editar los datos disponibles de la empresa que se encontrará dentro de su perfil, en la sección “Editar perfil”. Llene los espacios que usted crea conveniente y correspondiente sin agregar información extra. Por favor, respete lo que pidan las opciones. Después de haber editado sus datos, estos podrán ser vistos por los demás Representantes dependiendo de en qué sección se encuentre cada uno.

            h5 Si no edita ningún dato nuevo, estos simplemente no se mostrarán y seguirán mostrándose los datos anteriores.



          div.subPart
            h4.title_subParts 1.4 Los datos al momento de contactarnos

            h5 Queremos que esté satisfecho con el Servicio que brindamos y también queremos mejorar, por esos motivos usted podrá mantenerse en contacto con nosotros enviándonos un mensaje ingresando a la sección “Contáctanos” con el fin de poder absolver sus consultas, quejas o recomendaciones que tenga para nosotros. Resaltamos que el mensaje que nos envíe se mantendrá guardado en nuestra base de datos con el fin de utilizarlo en caso de alguna emergencia, por ejemplo, pérdida de información, entre otros.

            h5 Es importante que los mensajes que nos envíe deberán de ser puntuales y de tener un objetivo. No se aceptará que en más de 3 ocasiones envíe mensajes ofensivos o vulgares hacia la empresa, persona natural, Familiares o Representantes de Dintair o hacia algo relacionado con Dintair. De superar las tres ocasiones anteriormente detalladas, su cuenta procederá a ser cerrada por nosotros.



          div.subPart
            h4.title_subParts 1.5 Los datos que agregue en nuestras secciones

            h5 Los datos que agregue en los formularios serán recopilados y almacenados en nuestra base de datos. Los datos que agregue deben ser puntuales con respecto a lo que pide cada campo de cada formulario. No ingrese más datos de la que se solicita en cada campo, ya que su información se podrá ver afectada y podrá ser mal utilizada por otro Representante.



        div.allFormat
          h3.title_Parts 2. ¿Cómo usaremos esta información?

          h4 No hay nada más importante para nosotros de que su información se encuentre segura y que disfrute del Servicio que ofrecemos, por lo que su información será utilizada de las siguientes maneras:

          div.subPart
            h4.title_subParts 2.1 Los fines y propósitos del Servicio que ofrecemos

            h5 Después de haber recopilado sus datos y que usted verifique que se encuentren en orden, su información será publicada para que los demás Familiares puedan verla, analizarla, ponerse en contacto con usted, y posiblemente, en un futuro, llegar a un acuerdo de negocio con ellos.

            h5 Sus datos no serán utilizados por nosotros para fines que no tengan que ver con nuestros propósitos. Nosotros No nos responsabilizamos de que sus datos sean utilizados de una manera indebida por otro Representante de Dintair.


          div.subPart
            h4.title_subParts 2.2 Revisar que su información se encuentre en orden

            h5 Revisamos de manera básica el contenido que publica cada Representante. Al momento de Crear su cuenta, debe ingresar, solamente, datos verídicos para que su información tenga valor dentro de la página, evitar posibles fraudes entre Familiares, y evitar la cancelación de su página por nosotros.


          div.subPart
            h4.title_subParts 2.3 Ponernos en contacto con usted

            h5 En caso de vernos en la obligación de informarle acerca de algún evento extraordinario como por ejemplo: cancelación de página, entre otros, nos pondremos en contacto con usted y le informaremos con anticipación razonable. Llevamos a cabo esta actividad con el fin de que nuestros Servicios funcionen de la mejor manera posible y evitar percances futuros.


        div.allFormat
          h3.title_Parts 3. ¿De qué manera compartimos esta información?

          h4 Nuestro Servicio está enfocado a que exista relación entre empresas con altas probabilidades de crecimiento, tanto nacional como internacional, por lo que, el contenido que registre como: "Publicaciones" y todo lo que contenga "su perfil", serán compartidos de forma automática y estarán disponibles en nuestro buscador cuando un Representante lo solicite, así mismo, la información de ellos estará disponible para usted.

          div.subPart
            h4.title_subParts 3.1 Representantes con los que estará en contacto

            h5 Sus datos serán compartidos con todos los Representantes inmediatamente después de haberse registrado. Los Representantes tendrán acceso únicamente a la información que cada Familiar haya ingresado y haya decidido publicar. Si un Representante quiere saber más acerca otro, entonces deberá ponerse en contacto con el fin de llegar a conocer mejor a lo que se dedica la empresa.


          div.subPart
            h4.title_subParts 3.2 Proveedores de servicios

            h5 Eventualmente utilizaremos terceras partes para analizar, desarrollar, detectar casos de fraude, marketing, mantenimiento y mejoras en nuestro Servicio. Estas terceras partes tendrán acceso limitado a su información dependiendo de la tarea que se lleve a cabo y tendrán la obligación de no utilizarla para fines que nos sean acordes con las tareas en cuestión.


          div.subPart
            h4.title_subParts 3.3 Requerimientos legales

            h5 En un futuro puede que debamos divulgar su información parcial o completa dependiendo del caso. Nosotros analizaremos cuidadosamente si esta actividad se debe llevar a cabo para evitar, en un futuro, percances por pérdida de información, entre otros. 

            h5 Nosotros llevaremos a cabo esta actividad para: prevenir, investigar y actuar ante supuestas actividades ilegales o para ayudar a las fuerzas del orden; Para actuar ante reclamaciones o alegaciones por parte de terceros o mismos Familiares de Dintair; Para cumplir con nuestras condiciones de uso; Para defender a nuestros Familiares, Representantes, personal o a otras personas. Cuando sus datos sean utilizados o requeridos para llevar a cabo una de las actividades mencionadas, trataremos de notificar estos requerimientos a usted como Representante en Dintair, salvo que la ley o una orden judicial  lo prohíba. 
        

          div.subPart
            h4.title_subParts 3.4 Cambio de control o adquisición de la empresa por un tercero

            h5 Podemos compartir sus datos cuando se lleve a cabo una venta, fusión o cambio de control totalitario, o para preparar alguna de estas circunstancias. Si alguna entidad compra parte o toda la empresa tendrá acceso y derecho a continuar utilizando sus datos de acuerdo a esta política de privacidad.


        div.allFormat
          h3.title_Parts 4. ¿Cómo evitar la pérdida de información?

          h4 Los datos iniciales, una vez registrado, se guardarán automáticamente en nuestra base de datos. También, se guardará en nuestra base de datos los nuevos datos que edite en su cuenta, reemplazando de esta manera a los antiguos.

          h4 Nos preocupamos por sus datos, por lo que, hacemos todo lo posible para mantenerla segura. 


          div.subPart
            h4.title_subParts 4.1 El correcto almacenamiento de datos

            h5 Se evitará la pérdida de datos guardando cada edición nueva que haga en su cuenta. Cerciórese siempre de guardar la nueva edición de datos que ha hecho antes de pasar a otra sección de la página.


          div.subPart
            h4.title_subParts 4.2 Daños en su sistema

            h5 Sea cuidadoso y cerciórese de que el sistema en el dispositivo que esté utilizando para navegar por nuestra plataforma cuente con protección antivirus, que no existan elementos malignos que puedan o intenten penetrar nuestro sistema de seguridad u otros programas, códigos o similares. Tampoco intente forzar nuestro sistema de seguridad para extraer parte de nuestra información, ya que podría ser perjudicial para otros Familiares y para nosotros, y de darse el caso, nos veremos en la obligación de protegernos llevando el caso ante un juicio penal por filtración o intento de filtración de datos privados.


        div.allFormat
          h3.title_Parts 5. ¿Cómo es nuestra respuesta ante requerimientos legales?

          h4 Podremos tener acceso a sus datos en cualquier momento, utilizarlos para los fines que veamos necesarios y compartirlos a terceros cuando creamos de buena fe que nuestra reputación se encuentre en peligro y/o cuando la ley lo requiera con el fin de evitar inconformidades, combatir fraudes, entre otras actividades ilegales.









        div.allFormat
          h3.title_second_principal ¿Cómo debe usar usted nuestros Servicios?

          h4 Los Servicios que ofrecemos los ponemos a disposición de usted para que los aproveche de una buena manera, pero más aún, para que sepa utilizarlos debidamente y con responsabilidad. Para más información acerca de lo que debe y no debe hacer en Dintair, revise nuestras 
            a(href='/Dintair/termsOfUse', target='_blank') Condiciones de uso.


        div.allFormat
          h3.title_Parts 1. Información de otros Familiares y Representantes

          h4 Al usar nuestros Servicios usted está aceptando no divulgar ni compartir información de otros Familiares o Representantes a terceros para fines publicitarios e ilícitos. Debe usar la información de los Familiares y Representantes solo para fines informativos y de su propia utilidad. NO debe usar la información de una manera indebida, como por ejemplo, compartir la información con otros medios sin el permiso del mismo Representante o por nosotros. 

          h4 Nosotros no nos responsabilizamos por posible pérdida de información o de información divulgada por otro Representante.


        div.allFormat
          h3.title_Parts 2. Sus propios datos y el control de ellos

          h4 No está demás decir que la información que usted ingrese debe ser verídica y formal, por ejemplo, NO debe ingresar datos que no se relacionen con la empresa en las opciones, NO debe contener ningún tipo de lenguaje indebido en las opciones. De no cumplir con estas normas, su cuenta pasará a estar en revisión y le notificaremos que deberá cambiar el lenguaje indebido con tiempo de anticipación razonable, de otro modo, su cuenta pasará a ser cerrada por nosotros. 

          div.subPart
            h4.title_subParts Eliminación de datos

            h5 Usted es libre de eliminar los datos que registró en el momento que desee y crea conveniente. En caso no pueda eliminar alguno de sus datos y no pueda realizar el procesos satisfactoriamente, deberá contactarnos y analizaremos su petición cuidadosamente.


          div.subPart
            h4.title_subParts Editar datos extraordinarios

            h5 En caso desee editar algún dato personal y no tenga acceso al mismo, podrá contactarnos para analizar su petición y entregarle una respuesta ( Si o No ).



        div.allFormat
          h3.title_Parts 3. Información en general de nuestros Servicios

          h4 Nosotros brindamos datos de calidad y verídicos de y para nuestros Familiares y Representantes dentro de esta plataforma, con los cuales podrá contar con la seguridad de estar conociendo a una empresa formal, y de este modo, evitar fraudes futuros. 

          h4 Nosotros No nos haremos cargo por fraudes futuros ya que, a lo largo de esta Política de privacidad, hemos reiterado multiples veces que los datos que cada Representante registre deben ser verídicos y puntuales con el fin de evitar impases futuros. 

          h4 Los Servicios que ofrecemos están hechos para fomentar y generar la interacción entre empresas (Familiares) y Representantes. Ofrecemos los Servicios divididos en las siguientes secciones: “Perfil”, “Búsqueda”, “Contactos”, “Concursos”, “Mensajes”, “Productos”, "Newsbook" y “Contáctanos”. A continuación se explicará de qué trata cada Servicio básicamente:

          div.subPart

            h4.titles_camp Perfil

            h5 Dentro de esta sección podrá visualizar su información general, así como también tendrá las opciones de modificar su foto de portada, editar perfil, editar contraseña, editar la página del Representante y editar su correo.

            h4.titles_camp Búsqueda

            h5 Por defecto se mostrará todos los Familiares registrados en Dintair. Podrá realizar búsqueda de Familiares escribiendo el nombre completo, palabras clave, o con alguna letra inicial. También, podrá ingresar a su respectivo perfil y enviarle mensajes internos.


            h4.titles_camp Contactos

              h5 Ofrecemos dos tipos de contactos:
              
              div.subPart_specific

                h5 Contactos creados: Podrá crear a contactos que no necesariamente son Familiares de Dintair para mantenerlos y tenerlos a su disposición cuando sea necesario.

            h4.titles_camp Concursos

              h5 Eventualmente publicaremos concurso con distintas clases de premios. La mayoría de veces los premios serán sorteados al azar, execpto en los casos que nosotros cambiemos el reglamento dependiendo de cuál sea el concurso y la finalidad de este.

            h4.titles_camp Mensajes

              h5 En esta sección inicialmente se mostrará sub-secciones como: “Buzón”, en el cual se mostrarán los mensajes enviados a usted por otros Representantes; “Mensajes enviados”, todos los mensajes que usted envíe estarán almacenados por defecto en esa sección.


            h4.titles_camp Productos

              h5 En esta sección se encuentran dos sub-secciones:

              div.subPart_specific

                h5 Producto físico: Si usted es un productor de productos tangibles podrá agregar y visualizar los mismos en una interfaz ordenada y amigable.

                h5 Servicio:  Si usted produce servicios podrá agregar los suyos para que mantenga el orden de los mismos.
      

            h4.title_camp Newsbook

              h5 Ofrecemos noticias relacionadas a las situaciones comercailes y empresariales que son provistas por el Boletín Perú Exporta - ADEX. Estas noticias deben ser utilizadas de manera informativa por las empresas (Familiares) y sus respectivos Representantes. De querer citar alguna o utilizarla para otros fines, por favor, debe ponerse en contacto con nosotros por medio de la sección "Contáctanos" o enviando un correo a team@dintair.com.

              h5 Cabe mencionar que estas noticias no deben ser replicadas, copiadas, manipuladas, adulteradas o extraidas de Dintair bajo ningún motivo por algún Representante, Familiar o tercero no registrado en la plataforma sin consentimiento de nosotros. De hacerlo sin nuestro consentimiento, llevaremos el caso a tribunales.

            h4.title_camp Contáctanos

              h5 Podrá mantenerse en contacto con nosotros en caso tenga alguna inquietud, sugerencia o duda, las cuales será respondidas por nosotros en un plazo no mayor a un día.


        div.allFormat
          h3.title_Parts 4. Propiedad intelectual

          h4 Tenemos todos los derechos reservados por poner este Servicio a disposición de nuestros usuarios, por lo tanto, protegemos la propiedad intelectual al ofrecer este servicio mediante una cláusula que nos garantiza que la propiedad intelectual es propiamente nuestra.

          h4 Cada Representante es libre de agregar contenido de su negocio o empresa (Familia), sin embargo, cuando esta información es reclamada por algún otro familiar por haber violado los derechos de propiedad intelectual de otro Representante, nosotros no nos responsabilizaremos por este tipo de problemas.



        div.allFormat
          h3.title_Parts 5. El cierre de su cuenta

          h4 Usted es libre de cerrar su cuenta cuando disponga. Si por algún motivo decide realizar esta actividad, no podrá acceder nuevamente a su cuenta ya que sus datos personales serán cerrados y ningún dato relacionado a su cuenta podrá ser visto nuevamente por usted, aún así, los mensajes que haya enviado y los mensajes que haya recibido, seguirán figurando en nuestra plataforma. Si algún otro Familiar intenta visualizar su perfil, no lo podrá hacer ya que simplemente no se mostrará. Sin embargo, su perfil ya no aparecerá en los buscadores, así como también, sus productos y servicios que por defecto eran contenidos en su perfil.

          
          h4 Seguimos conservando sus datos personales incluso después de haber cerrado la cuenta en las secciones necesarias y/o si es necesario para cumplir con nuestras obligaciones legales, es decir, cuando la ley lo pida, para resolver disputas, llevar a cabo nuestros propósitos, cumplir el acuerdo que aceptó al registrarse, evitar casos de fraude y abuso e incumplimiento de nuestras normas.


        div.allFormat
          h3.title_Parts 6. Información y consultas acerca de esta Política de privacidad

          h4 Si presenta dudas acerca de alguna sección, subsección, o información en general, puede ponerse en contacto con nosotros enviandonos un email a la siguinete dirección de correo electrónico: team@dintair.com.


      div.content_our_info
        h3 Av. El Derby 575

        h3 Santiago de Surco

        h3 Lima, Perú

        h3 © Dintair 2020, All rights reserved