extends ../../templates/users/default

block content

  section.environmentUsersRecommends
    section.fieldContent
      h3.forRespText Puede resultar más cómodo visualizar desde un ordenador.
      div.boxCenterPData
        
        div.titlePage
          
          div.picProd
            div.picture_pic
              - file = productos_user.imgProductos.split('---')
              img(src='#{file[0]}')
            
            div.info_pic
              h3.nombre= productos_user.nombre

              label Mercado meta
              h3.target_rubro=productos_user.targetsell

          div.explainF
            if productos_user.targetsell == 'A todos los rubros'
              h3 Las recomendaciones aparecerán en base al mercado meta que seleccionó al agregar su producto.
            else
              h3 Las recomendaciones aparecerán en base al mercado meta que seleccionó al agregar su producto. De no aparecer algún contacto que se dedique al mercado meta colocado, se mostrarán los siguientes contactos más propensos en estar interesados en este producto.

      div.boxCenterReco
        div.tableBoxData
          //h1.fl Resultados:
            span#numItem 0
          //a(id="btnRedactar",href="/Platform/recommendation-search", data-email="/Platform/recommendation-email",data-url-prev='/Dintair/create/publication/progress-prev', class="btnRedactar fr js-publication") Iniciar publicación
          div.btnAction
            a(id="",href="/Platform/recommendation-search", data-email="/Platform/recommendation-email",data-url-prev='/Dintair/create/publication/progress-prev', class="btnRedactar fr js-publication") Continuar
        div#sectionLoader.showRecommends
          h2 Se está buscando los contactos de interés por este producto.
          img(src='/images/gif/spiral.gif', class="loader-first")

        
        table(id="sectionResult",class="ctn-table")
          
          thead
            tr
              th
                input(type="checkbox", name="chxAll", id="chxAll", value="all", checked="true")
              //th N
              th 
              th Foto
              th Empresa
              th Rubro
              th Representante
              th Email
              th País
              
            tbody(id="result", data-url="/Platform/recommendation-search", data-page='1', data-url-chat="/Platform/chat-link")

        .ctn-img-loader  
          img(src='/images/gif/spiral.gif', id='loaderImg', name='loaderImg')


  script(src='/javascripts/publications/collapsable.js')
  script(src='/javascripts/publications/product.js')
  script(src='/javascripts/publications/list-recommended.js')



  style(type="text/css").
    .btn-publication {
      display: block!important;
    }