doctype html
html
  head
    meta(charset='utf-8')
    title  Dintair
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='theme-color' content='#008ae6')
    link(rel="icon" href="/images/dintair/dintaircover.png")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/index/estilos.css')
    link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='/javascripts/navegadores/navjs.js')
    
  body.forSingUp()

    block content


