extends default

block content

  section.postForm

    div.dintair
      img.dintair(src='/images/dintair/dintair_iso.png')

    div.confirmation_card

      form#formu(action='/Dintair/profile/UltData/#{user._id}?_method=put', method='post', name='formu', onsubmit='return Validate()')

        h2.name= newUser.first_name+','

        h2.msg_welcome ¡Gracias por tu registro! Ahora continua con este paso.


        div.fields

          h3.dates Número de WhatsApp
          input.sede(type='text', id='wtpnumber', name='wtpnumber', autocomplete = 'off')
          #error_wtpnumber.error_wtpnumber

          h4(style='text-align:left;font-size:15px;letter-spacing:0.3px;margin-bottom:15px;') Soy:

          .radio-group
            input(type='radio', name='iam', id='comprador', value='Comprador')
            label(for='comprador') Comprador

            input(type='radio', name='iam', id='proveedor', value='Proveedor')
            label(for='proveedor') Proveedor

            input(type='radio', name='iam', id='ambos', value='Ambos')
            label(for='ambos') Ambos
          #error_iam.error_iam

        div.fields
          h4(style='text-align:left;font-size:15px;letter-spacing:0.3px;margin-bottom:15px;') Selecciona el rubro al que te dedicas
          select.rubroTarget(name='rubroTarget')
            option(value='')

            //Nueva lista
            option(value='Alimentos y Bebidas') Alimentos y Bebidas
            option(value='Maquinaria, Equipo y Tecnología') Maquinaria, Equipo y Tecnología
            option(value='Tienda de Alimentos Naturales y Orgánicos') Tienda de Alimentos Naturales y Orgánicos

          #error_rubroTarget.error_rubroTarget
        
        
        div.fields
          h4(style='text-align:left;font-size:15px;letter-spacing:0.3px;margin-bottom:15px;') Selecciona tu país
          select#editable-select1.country(name='country' onchange='cambia();')
            option(value='')
            option(value='Argentina') Argentina
            option(value='Bolivia') Bolivia
            option(value='Chile') Chile
            option(value='Colombia') Colombia
            option(value='Cuba') Cuba
            option(value='Ecuador') Ecuador
            option(value='ElSalvador') El Salvador
            option(value='Guatemala') Guatemala
            option(value='Honduras') Honduras
            option(value='México') México
            option(value='Paraguay') Paraguay
            option(value='Perú') Perú
            option(value='Uruaguay') Uruaguay
            option(value='Venezuela') Venezuela
          #error_country.error_country

        div.fields
          h4(style='text-align:left;font-size:15px;letter-spacing:0.3px;margin-bottom:15px;') Selecciona tu provincia
          select#editable-select2.country(name='provincia')
            option(value='')

          #error_provincia.error_provincia
 
        input.enterUser(type='submit', value='Guardar e ingresar')


  script(src='/javascripts/index/signup-login/outlines-boxes.js')
  
  //script(src='/javascripts/editable-select/forRegisterPreview.js')
  script.
    $('#editable-select').editableSelect({
      effects: 'slide',
      duration: 80,
      appendTo: 'body'
    });
  script(src='/javascripts/index/signup-login/regist-validation_CR.js')
  script(src='/javascripts/index/signup-login/provincias.js')