extends ../nav

block content
  
  section.select-start-sign-in.container
    a(href='/')
      div.dintair
        a.transformD(href='/')
          img.dintair(src='/images/dintair/dintair_iso.png')

    .box-sign-in

      if messageReset.length > 0
        p.loginmessage<strong></strong> #{messageReset}

      h3 Ingrese el correo que utilizó para registrarse

      form.cube-sign-in.form-group(action='/Dintair/passwordReset/new', method='post', name='formu', onsubmit='return Validate()', autocomplete='on')


        .form-group
  
          input#comp_email.input-email(type='text', name='username', placeholder='Correo electrónico')
          #error_comp_email.error_comp_email
        
          
        .btn_signIn
          input(type='submit', value='Corroborar correo')
      
script(src='/javascripts/outlines-boxes.js')