extends ../nav

block content

	section.select-start-sign-in.container
		a(href='/')
			div.dintair
				a.transformD(href='/')
					img.dintair(src='/images/dintair/dintair_iso.png')

		.box-sign-in
			if message.length > 0
				p.messageReset<strong></strong> #{message}
			
			h3 Restauraci칩n de contrase침a

			form.cube-sign-in.form-group(action='/Dintair/passwordReset/new/procedure/#{token}?_method=put', method='post', name='formu', onsubmit='return Validate()')
				.form-group
					input#comp_email.input-email(type='password', name='password', placeholder='Contrase침a')
					#error_password.error_password

					input#comp_email.input-email(type='password', name='confirm', placeholder='Confirme su contrase침a', style="margin-top: 15px")
				
				.btn_signIn
					input(type='submit', value='Continuar')
	
  
	script(src='/javascripts/passwordReset/reset_password.js')